.list {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  display: flex;
  max-width: 350px;
  flex-wrap: wrap;
}
.list_li {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  display: flex;
}

.button {
  display: flex;
  padding: 2px 10px;
  border-radius: 5px;
  border: 1px solid #000;
  background-color: #00f;
  color: #f0f8ff;
  cursor: pointer;
  font-weight: 500;
  margin-left: 15px;
}
.button:hover {
  background-color: red;
}

.span {
  margin-left: 25px;
}
